body {
    align-items: center;
}

.app {
    width: 70%;
}

 h1 {
    margin: 5px;
    text-align: center;
}

.form {
    background-color: rgb(224, 220, 220);
    text-align: center;
    border-radius: 30px;
    width: 500px;    
    margin: 0 auto;
    margin-top: 10px;
    
}

.jumbotron {
    width: 60%;
}

.name {
    border-radius: 30px;
}

.email {
    border-radius: 30px;
}

.mensagem {
    border-radius: 30px;
} 

.Enviar {
    border-radius: 30px;
    background-color: rgb(204, 198, 198);
    color: rgb(0, 0, 0);
}

.app-container-fluid {
   display: flex;
}

#agenda{
    background-color: white;
    border-color: white;
}

.button-icon {
    background-color: transparent;
    border-color: white;
    border: none
}

.button-icon img {
    width: 100px;
}

#mensagem {
    resize: none;
    height: 80px;
    text-align: center;
}